body {
    font-family: Verdana, Helvetica, sans-serif;
}

#page {
	margin-left: 10%;
	margin-right: 10%;
}

#header {
	margin-bottom: 10px;
}

#body {
	clear:both;
}

#footer {
	clear:both;
}

.loginInfo {
	text-align: right;
}

.navigation-menu ul {
	list-style: none;
	margin:0;
	padding:0;
}

.navigation-menu li {
	float: left;
}

.navigation-menu .currentPage {
	font-weight: bold;
}

.navigation-menu a {
	display:block;
	text-decoration: none;
	padding: 0px 10px;
}

.left {
	float: left;
}

.right {
	float:right;
}
